
.profile{
 
  display: flex;
    background-image:url('../../public/b3.jpg');
}
.p-image{
    margin-left: 25%;
    margin-top: 3%;
    opacity: 1;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
}